html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'GalanoGrotesqueAlt-Light';
  src: url("fonts/Galano Grotesque Alt Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Galano Grotesque Alt Light.eot?#iefix") format("embedded-opentype"), url("fonts/Galano Grotesque Alt Light.woff") format("woff"), url("fonts/Galano Grotesque Alt Light.ttf") format("truetype"), url("fonts/Galano Grotesque Alt Light.svg#3cb5782730d0917ce0f650b3cd088248") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'GalanoGrotesque-Light';
  src: url("fonts/Galano Grotesque Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Galano Grotesque Light.eot?#iefix") format("embedded-opentype"), url("fonts/Galano Grotesque Light.woff") format("woff"), url("fonts/Galano Grotesque Light.ttf") format("truetype"), url("fonts/Galano Grotesque Light.svg#17fd4643737cd77b2b8ae701bb3ac19e") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'GalanoClassic-Light';
  src: url("fonts/GalanoClassic-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/GalanoClassic-Light.eot?#iefix") format("embedded-opentype"), url("fonts/GalanoClassic-Light.woff") format("woff"), url("fonts/GalanoClassic-Light.ttf") format("truetype"), url("fonts/GalanoClassic-Light.svg#d21848872a53c6a8453b6e7e697d8970") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'GalanoClassic-LightItalic';
  src: url("fonts/GalanoClassic-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("fonts/GalanoClassic-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/GalanoClassic-LightItalic.woff") format("woff"), url("fonts/GalanoClassic-LightItalic.ttf") format("truetype"), url("fonts/GalanoClassic-LightItalic.svg#1c8739846c05c7fdce0bdb6bba5acbf6") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 200; }

@font-face {
  font-family: 'GalanoClassic-SemiBold';
  src: url("fonts/GalanoClassic-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/GalanoClassic-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/GalanoClassic-SemiBold.woff") format("woff"), url("fonts/GalanoClassic-SemiBold.ttf") format("truetype"), url("fonts/GalanoClassic-SemiBold.svg#ff88fac192a887efcd682a19b95b93ab") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-size: 1rem;
  background-color: #eaebe5; }

html, body {
  height: 100%; }

h1 {
  font-size: 32px;
  font-size: 2rem; }

h2 {
  font-size: 24px;
  font-size: 1.5rem; }

h3 {
  font-size: 20px;
  font-size: 1.25rem; }

h4 {
  font-size: 18px;
  font-size: 1.125rem; }

img {
  max-width: 100%;
  height: auto; }

a {
  display: block;
  text-decoration: none;
  color: #888787;
  -webkit-transition: color 0.2s ease-out;
          transition: color 0.2s ease-out; }
  a:hover {
    color: #383835; }

strong {
  font-weight: 600; }

p {
  line-height: 1.5; }

.sis-wrapper {
  margin: 0 auto;
  width: 93.75%;
  max-width: 1280px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .sis-wrapper::after {
    clear: both;
    content: "";
    display: table; }

#sis_cargando {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }

.spinner > div {
  background-color: #383838;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #eaebe5;
  z-index: 100; }
  header .sis-logo a img {
    display: inline-block;
    vertical-align: middle; }
  header .sis-logo a span {
    display: none; }
    @media only screen and (min-width: 768px) {
      header .sis-logo a span {
        display: inline-block;
        vertical-align: middle; } }

.sis-map,
.sis-filters {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  .sis-map::after,
  .sis-filters::after {
    clear: both;
    content: "";
    display: table; }

.sis-map {
  position: relative;
  margin-top: 80px; }
  .sis-map .sis-map-epicenter {
    width: 100%;
    height: 0;
    padding-bottom: 55%; }

.sis-filters {
  margin-top: 20px;
  overflow: hidden; }
  .sis-filters .sis-filter {
    padding: 30px 20px 30px 20px; }
    @media only screen and (min-width: 768px) {
      .sis-filters .sis-filter {
        float: left;
        width: 33.33% !important;
        padding: 76px 30px 40px 40px;
        min-height: 440px; } }
    .sis-filters .sis-filter:nth-child(2n+1) {
      background-color: #f4f5f0; }
    .sis-filters .sis-filter:nth-child(2n) {
      background-color: #fafaf8; }
  .sis-filters h2 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 40px; }
    @media only screen and (min-width: 768px) {
      .sis-filters h2 {
        font-size: 28px;
        font-size: 1.75rem; } }
  .sis-filters ul li {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 20px; }
    .sis-filters ul li a {
      display: block;
      margin-top: 5px; }

.sis-error {
  display: none;
  border: 2px dashed crimson; }

.sis-info {
  padding: 10px 0; }
  .sis-info h3 {
    margin-bottom: 10px;
    line-height: 1.2; }
  .sis-info li {
    padding: 2px 0; }

.sis-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #cecece;
  color: #888787; }
  .sis-btn:hover {
    background-color: #383838;
    color: #fff; }

footer {
  background-color: #191919; }

.sis-info-links {
  padding: 20px 0; }
  .sis-info-links li {
    display: block;
    padding: 5px 0; }
